@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.container__form {
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cor-de-fundo);
}

.container-cadastro{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--amarelo);
    padding: 1rem;
}

.form-image img{
    width: 31rem;
}

.form-cadastro{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header-cadastro{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.title-cadastro h1 {
    font-size: 22px;
}

.login-button-cadastro{
    display: flex;
    align-items: center;
}

.login-button-cadastro button{
    border: none;
    background-color: var(--azul-medio);
    padding: 0.4rem 1rem;
    border: 2px solid var(--azul-medio);
    border-radius: 5px;
    cursor: pointer;
}

.login-button-cadastro button:hover{
    background-color: var(--azul-escuro);
}

.login-button-cadastro button a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header-cadastro h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: var(--azul-medio);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group-cadastro{
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}

.input-box-cadastro{
    display: flex;
    flex-direction: column;
    margin: 1em 0 1em 0;
}

.input-box-cadastro input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box-cadastro input:hover{
    background-color: #eeeeee75;
}

.input-box-cadastro input:focus-visible{
    outline: 1px solid var(--azul-medio);
}

.input-box-cadastro label,
.gender-title-cadastro h6{
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box-cadastro input::placeholder{
    color: #000000be;
}

.gender-group-cadastro{
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding:  0 0.5rem;
}

.gender-input-cadastro{
    display: flex;
    align-items: center;
}

.gender-input-cadastro input{
    margin-right: 0.35rem;
}

.gender-input-cadastro label{
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button-cadastro button{
    width: 100%;
    margin-top: 1.5rem;
    border: none;
    background-color: var(--azul-medio);
    border: solid 2px var(--azul-medio);
    padding: 1em 12em;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button-cadastro button:hover{
    background-color: var(--azul-escuro);
}

.continue-button-cadastro button a{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

.form__cadastro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0.6em 0;
}

.form__cadastro-texto {
    font-size: 14px;
}

.form__cadastro-link {
    font-size: 14px;
    text-decoration: none;
    color: var(--preto);
}

.form__cadastro-link:hover {
    color: blueviolet;
    text-decoration: underline;
}

@media screen and (max-width: 1330px) {
    .form-image{
        display: none;
    }
    .container-cadastro{
        width: 50%;
    }
    .form-cadastro{
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container-cadastro{
        width: 90%;
        height: auto;
    }
    .input-group-cadastro{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
    .gender-inputs-cadastro{
        margin-top: 2rem;
    }
    .gender-group-cadastro{
        flex-direction: column;
    }
    .gender-input-cadastro{
        margin-top: 0.5rem;
    }
}

@media screen and (min-width: 1728px) {
    .opcoes {
        margin-right: 40%;
    }
    
}