
section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
    margin: 1.5em 0 0 0;
}

.slider-content input{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

/* Formatação imagem mobile */
.slide-box img{
    width: 100%;
    max-height: 600px;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top:  -4%; /* Mudar posição bolinha */
    display: flex;
    justify-content: center;
}

.nav-manual .manual-b, .nav-auto div{
    border: 1px solid #00b7ff;
    padding: 4px; /* muda tamanho bolinha */
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.nav-manual .manual-b:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-b:hover{
    background-color: #00b7ff;
}

#radio1:checked ~ .nav-auto .auto-b1, #radio2:checked ~ .nav-auto .auto-b2, #radio3:checked ~ .nav-auto .auto-b3 {
    background-color: #00b7ff;
}

#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

@media screen and (min-width: 1024px) {
    .nav-manual, .nav-auto {
        margin-top:-1.6%;
    }
    
}

@media screen and (min-width: 1728px) {
    .nav-manual, .nav-auto {
        margin-top:-1%;
    }

    .nav-manual .manual-b, .nav-auto div {
        padding: 7px;
    }

    .slide-box img{
        width: 70%; /* muda formatacao para desktop */
        max-height: 800px;
    }
}